@media (max-width: 1140px) {
    .card {
        width: calc(50% - 15px);
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .footer-row {
        flex-direction: column-reverse;
        align-items: center;
        text-align:center;
    }

    .footer-col {
        margin-bottom: 50px;
    }
    
    .footer-col:first-child {
        margin-bottom: 0px;
    }
}

@media (max-width: 760px) {
    .header-title {
        font-size: 32px;
    }

    .header_subtitle {
        font-size: 14px;
    }

    .portfolio {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .portfolio-header {
        font-size: 32px;
    }

    .card {
        min-width: 530px;
        width: 100%;
    }

    .card:nth-last-child(2) {
        margin-bottom: 30px;
    }

    .portfolio-cards-wrapper {
        justify-content: center;
    }

    .card-link {
        padding: 15px;
    }

    .card-img {
        margin-bottom: 10px;
    }

    .card-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .card p {
        font-size: 14px;

    }

    .footer-copyright-name {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .footer-copyright p {
        font-size: 14px;
    }

    .footer-icons p {
        font-size: 14px;
    }

    .footer-contacts p { 
        font-size: 14px;
        margin: 0;
        margin-top: 15px;
    }

    .me {
        padding: 40px 0 60px;
    }

    .me-header {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .me-img {
        margin-bottom: 20px;
    }

    .me-image{
        width: 100%;
    }

    .me-description {
        margin-bottom: 50px;
    }

    .me-btn-back {
        padding: 0 10px;
        width: 100%;
        min-width: 320px;
    }
}
    @media (max-width: 570px){
        .card {
            min-width: 300px;
            width: 100%;
        }
        .card-link {
            padding: 10px;
        }
    }
    @media (max-width: 320px){
        .card {
            min-width: 190px;
            width: 100%;
        }
        .card-link {
            padding: 5px;
        }
        .me-btn-back {
            padding: 0 5px;
            width: 100%;
            min-width: 200px;
        }
        .footer-button {
            font-size: 10px;
        }
    }